<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            
            <div class="GridContainer">
                <div class="GridChild">
                    <label for="system.stamina.value" class="resource-label" style="font-weight: bold;">Stamina</label>
                    <div class="sideBySide">
                        <input type="text" name="system.stamina.value" value="{{system.stamina.value}}" data-dtype="Number" style="width: 36px;"/>
                        <span> / </span>
                        <input type="text" name="system.stamina.max" value="{{system.stamina.max}}" data-dtype="Number" style="width: 36px;"/>
                    </div>  
                </div>
                <div class="GridChild">
                    <label for="system.momentum.value" class="resource-label" style="font-weight: bold;">Momentum</label>
                    <div class="sidebyside">
                            <button class="momentumbutton {{actor._id}}-momdec" id="momentum-button-dec"><span>-</span></button>
                            <input readonly type="string" class="incrementbox" id="{{actor._id}}-increment-box" name="system.momentum.value" value="{{system.momentum.value}}" min="-3" max="3" data-dtype="Number"/>
                            <button class="momentumbutton {{actor._id}}-mominc" id="momentum-button-inc"><span>+</span></button>
                    </div>
                </div>
                <div class="GridChild">
                    <label for="system.canAct" class="resource-label" style="font-weight: bold;">Initiative</label>
                    <div class="sidebyside">
                        <button class="initiative-button"><span>USE</span></button>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Character</a>
        <a class="item" data-tab="stand">Stand</a>
        <a class="item" data-tab="extras">Inventory / Notes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="description">
            <div class="Row">
                <div class="Column" style="width: 33.33%;">
                    <div class="Entry">
                        <div class="preset-rolldiv">
                           <h2 title="Ordinary humans (and other ordinary non-Stand beings) are considered to be a D-rank for any rolls made by or targeting them."
                            >Preset Roll <a>(?)</a></h2>
                            <button value="a" class = "preset-roll-btn" id="presetRankBtn">A-Rank</button>
                            <button value="b" class = "preset-roll-btn" id="presetRankBtn">B-Rank</button>
                            <button value="c" class = "preset-roll-btn" id="presetRankBtn">C-Rank</button>
                            <button value="d" class = "preset-roll-btn" id="presetRankBtn">D-Rank</button>
                            <button value="e" class = "preset-roll-btn" id="presetRankBtn">E-Rank</button>
                        </div>
                    </div>

                    <div class="Entry">
                        <h2>Appearance</h2>
                        <textarea class="textarea-large" rows="7" name="system.appearance">{{system.appearance}}</textarea>
                    </div>

                    <div class="Entry">
                        <h2>Biography</h2>
                        <textarea class="textarea-large" rows="9" name="system.biography">{{system.biography}}</textarea>
                    </div>
                </div>
                <div class="Column">
                    <div class="Entry">
                        <h2>Goals and Impulses</h2>
                        <div class="NameDescBox">
                            <div class="CenteredTextDiv">
                                Goal:
                            </div>
                            <div class="SideBySide">
                                <span>Name: </span>
                                <input type="text" name="system.goal1Name" value="{{system.goal1Name}}" data-dtype="String"/>
                            </div>
                            <div class="SideBySide">
                                <span>Desc.: </span>
                                <textarea class="textarea-large" style="resize: none;" rows="2" name="system.goal1Desc">{{system.goal1Desc}}</textarea>
                            </div>
                        </div>

                        <div class="NameDescBox">
                            <div class="CenteredTextDiv">
                                Goal:
                            </div>
                            <div class="SideBySide">
                                <span>Name: </span>
                                <input type="text" name="system.goal2Name" value="{{system.goal2Name}}" data-dtype="String"/>
                            </div>
                            <div class="SideBySide">
                                <span>Desc.: </span>
                                <textarea class="textarea-large" style="resize: none;" rows="2" name="system.goal2Desc">{{system.goal2Desc}}</textarea>
                            </div>
                        </div>

                        <div class="NameDescBox">
                            <div class="CenteredTextDiv">
                                Impulse:
                            </div>
                            <div class="SideBySide">
                                <span>Name: </span>
                                <input type="text" name="system.impulse1Name" value="{{system.impulse1Name}}" data-dtype="String"/>
                            </div>
                            <div class="SideBySide">
                                <span>Desc.: </span>
                                <textarea class="textarea-large" style="resize: none;" rows="2" name="system.impulse1Desc">{{system.impulse1Desc}}</textarea>
                            </div>
                        </div>

                        <div class="NameDescBox">
                            <div class="CenteredTextDiv">
                                Impulse:
                            </div>
                            <div class="SideBySide">
                                <span>Name: </span>
                                <input type="text" name="system.impulse2Name" value="{{system.impulse2Name}}" data-dtype="String"/>
                            </div>
                            <div class="SideBySide">
                                <span>Desc.: </span>
                                <textarea class="textarea-large" style="resize: none;" rows="2" name="system.impulse2Desc">{{system.impulse2Desc}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="Column" style="max-width: 36%;">
                    <div class="Entry">
                        <h2>Conditions and Injuries</h2>
                        <div class="NameDescBox">
                            <div class="CenteredTextDiv">
                                CONDITIONS
                            </div>

                            <div class="Row2">
                                <div class="column2">
                                    <div class="GridEntry">
                                        <div class="SideBySide">
                                            <span>Name: </span>
                                            <input type="text" name="system.condition1Name" value="{{system.condition1Name}}" data-dtype="String"/>
                                        </div>
                                        <div class="SideBySide">
                                            <span>Desc.: </span>
                                            <textarea class="textarea-large" style="resize: none;" rows="1" name="system.condition1Desc">{{system.condition1Desc}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="column2">
                                    <div class="GridEntry">
                                        <div class="SideBySide">
                                            <span>Name: </span>
                                            <input type="text" name="system.condition2Name" value="{{system.condition2Name}}" data-dtype="String"/>
                                        </div>
                                        <div class="SideBySide">
                                            <span>Desc.: </span>
                                            <textarea class="textarea-large" style="resize: none;" rows="1" name="system.condition2Desc">{{system.condition2Desc}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>   
                            
                            <div class="Row2">
                                <div class="column2">
                                    <div class="GridEntry">
                                        <div class="SideBySide">
                                            <span>Name: </span>
                                            <input type="text" name="system.condition3Name" value="{{system.condition3Name}}" data-dtype="String"/>
                                        </div>
                                        <div class="SideBySide">
                                            <span>Desc.: </span>
                                            <textarea class="textarea-large" style="resize: none;" rows="1" name="system.condition3Desc">{{system.condition3Desc}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="column2">
                                    <div class="GridEntry">
                                        <div class="SideBySide">
                                            <span>Name: </span>
                                            <input type="text" name="system.condition4Name" value="{{system.condition4Name}}" data-dtype="String"/>
                                        </div>
                                        <div class="SideBySide">
                                            <span>Desc.: </span>
                                            <textarea class="textarea-large" style="resize: none;" rows="1" name="system.condition4Desc">{{system.condition4Desc}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="Row2">
                                <div class="column2">
                                    <div class="GridEntry">
                                        <div class="SideBySide">
                                            <span>Name: </span>
                                            <input type="text" name="system.condition5Name" value="{{system.condition5Name}}" data-dtype="String"/>
                                        </div>
                                        <div class="SideBySide">
                                            <span>Desc.: </span>
                                            <textarea class="textarea-large" style="resize: none;" rows="2" name="system.condition5Desc">{{system.condition5Desc}}</textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="column2">
                                    <div class="GridEntry">
                                        <div class="SideBySide">
                                            <span>Name: </span>
                                            <input type="text" name="system.condition6Name" value="{{system.condition6Name}}" data-dtype="String"/>
                                        </div>
                                        <div class="SideBySide">
                                            <span>Desc.: </span>
                                            <textarea class="textarea-large" style="resize: none;" rows="2" name="system.condition6Desc">{{system.condition6Desc}}</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="NameDescBox">
                            <div class="CenteredTextDiv">
                                INJURIES
                            </div>
                            <div class="LightWoundsContainer" style="padding-bottom: 5px; padding-top: 5px;">
                                <label># of Light Injuries: </label>
                                <button class="{{actor._id}}-LightWounds-Dec" id="lightwounds-button"><span>-</span></button>
                                <input readonly type="number" class="{{actor._id}}-woundsbox woundsbox" id="{{actor._id}}-currentlightwounds" name="system.wounds-light.value" value="{{system.wounds-light.value}}" data-dtype="Number"/>
                                <button class="{{actor._id}}-LightWounds-Inc" id="lightwounds-button"><span>+</span></button>
                            </div>
                            <div class="Row2">
                                <div class="Column2">
                                    <p>H/M (Location)</p>
                                    <textarea class="textarea-large" rows="4" name="system.injuries1">{{system.injuries1}}</textarea>
                                </div>
                                <div class="Column2">
                                    <p>H/M (Location)</p>
                                    <textarea class="textarea-large" rows="4" name="system.injuries2">{{system.injuries2}}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Stand Tab --}}
        <div class="tab stand" data-group="primary" data-tab="stand">
            <div class="Row">
                <div class="ColumnRight3" style="float: left;">
                    <div class="Entry">
                        <h2>Appearance</h2>
                        <label for="system.stand.standname" class="standname-label" style="vertical-align: middle; display: inline-block;">Stand Name:</label>
                        <input type="text" style="text-align:left; width:170px;" name="system.stand.standname" value="{{system.stand.standname}}" data-dtype="String"/>
                    </div>
                    <div class="Entry"style="text-align: center;">
                        <div class="StandImgDisplay">
                            <img class="{{actor._id}}-standImgView" id="{{actor._id}}-stand-img-view" src="/systems/jojo-rpg/images/Stand_Img_Placeholder.png" height="156" width="156">
                        </div>
                
                        <div class="UrlSrcSetter">
                            <input id="UrlInput" name="system.standImageURL", value="{{system.standImageURL}}" placeholder="URL to Stand Portrait">
                            <button class="{{actor._id}}-grab-url">Set</button>
                        </div>
                    </div>
                    <div class="Entry">
                        <h2>Description</h2>
                        <textarea class="textarea-large" rows="10" name="system.appearancestand">{{system.appearancestand}}</textarea>
                    </div>
                </div>
                <div class="ColumnRight3" style="float: left;">
                    <div class="Entry">
                        <h2>Stats</h2>
                        <div class="grid-container" id="DropShadowDeco" style="border: 1px solid #726857;">
                            <div class="grid-item-skills">
                                <span class="ability-mod rollable" id="largetext" data-roll="1d20" data-momentum="{{system.momentum.value}}" data-ranking="{{system.stand.power.value}}" data-label="Power"><a>Power</a></span>
                                <div class="resource-content" flexrow flex-center flex-between>
                                    <select name="system.stand.power.value" data-dtype="String">
                                        {{#select system.stand.power.value}}
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </div>
        
                            <div class="grid-item-skills" style="background-color: rgba(255, 255, 255, 0);">
                                <span class="ability-mod rollable" id="largetext" data-roll="1d20" data-momentum="{{system.momentum.value}}" data-ranking="{{system.stand.speed.value}}" data-label="Speed"><a>Speed</a></span>
                                <div class="resource-content" flexrow flex-center flex-between>
                                    <select name="system.stand.speed.value" data-dtype="String">
                                        {{#select system.stand.speed.value}}
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </div>
        
                            <div class="grid-item-skills" style="background-color: rgba(255, 255, 255, 0);">
                                <span class="ability-mod rollable" id="largetext" data-roll="1d20" data-momentum="{{system.momentum.value}}" data-ranking="{{system.stand.durability.value}}" data-label="Durability"><a>Durability</a></span>
                                <div class="resource-content" flexrow flex-center flex-between>
                                    <select name="system.stand.durability.value" data-dtype="String">
                                        {{#select system.durability.value}}
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </div>
        
                            <div class="grid-item-skills" style="background-color: rgba(255, 255, 255, 0);">
                                <span class="ability-mod rollable" id="largetext" data-roll="1d20" data-momentum="{{system.momentum.value}}" data-ranking="{{system.stand.precision.value}}" data-label="Precision"><a>Precision</a></span>
                                <div class="resource-content" flexrow flex-center flex-between>
                                    <select name="system.stand.precision.value" data-dtype="String">
                                        {{#select system.stand.precision.value}}
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        {{/select}}
                                    </select>   
                                </div>
                            </div>
        
                            <div class="grid-item-skills" style="background-color: rgba(255, 255, 255, 0);">
                                <span class="ability-mod rollable" id="largetext" data-roll="1d20" data-momentum="{{system.momentum.value}}" data-ranking="{{system.stand.range.value}}" data-label="Range"><a>Range</a></span>
                                <div class="resource-content" flexrow flex-center flex-between>
                                    <select name="system.stand.range.value" data-dtype="String">
                                        {{#select system.range.value}}
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </div>
        
                            <div class="grid-item-skills" style="background-color: rgba(255, 255, 255, 0);">
                                <span class="ability-mod rollable" id="largetext" data-roll="1d20" data-momentum="{{system.momentum.value}}" data-ranking="{{system.stand.potential.value}}" data-label="Potential"><a>Potential</a></span>
                                <div class="resource-content" flexrow flex-center flex-between>
                                    <select name="system.stand.potential.value" data-dtype="String">
                                        {{#select system.potential.value}}
                                        <option value="A">A</option>
                                        <option value="B">B</option>
                                        <option value="C">C</option>
                                        <option value="D">D</option>
                                        <option value="E">E</option>
                                        {{/select}}
                                    </select>
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="Entry">
                        <h2>Abilities</h2>
                        <textarea class="textarea-large" rows="13" name="system.abilitiesstand">{{system.abilitiesstand}}</textarea>
                    </div>
                </div>
                <div class="ColumnRight3" style="float: left;">
                    <div class="Entry">
                        <h2>Modify Roll</h2>
                        <div class="roll-modifier-div" id="DropShadowDeco">
                            <button class="{{actor._id}}-modifier-button-inc" id="modify-button">+</button>
                            <input readonly type="string" class="modifier-box" id="{{actor._id}}-modifier-box" name="system.rollmodifier.value" value="{{system.rollmodifier.value}}" data-dtype="Number"/>
                            <button class="{{actor._id}}-modifier-button-dec" id="modify-button">-</button>
                            <button class="{{actor._id}}-modifier-button-rst">Reset</button>
                        </div> 
                    </div>
                    <div class="Entry">
                        <h2>Techniques</h2>
                        <textarea class="textarea-large" rows="13" name="system.techniquesstand">{{system.techniquesstand}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Extras Tab --}}
        <div class="tab extras" data-group="primary" data-tab="extras">
            <div class="Row2">
                <div class="Column2">
                    <div class="Entry">
                        <h2>Notes</h2>
                        <textarea class="textarea-large" rows="27" name="system.playerNotes">{{system.playerNotes}}</textarea>
                    </div>
                    
                </div>
                <div class="Column2">
                    <div class="Entry">
                        <h2>Allies and Enemies</h2>
                        <textarea class="textarea-large" rows="6" name="system.alliesAndEnemies">{{system.alliesAndEnemies}}</textarea>
                    </div>

                    <div class="Entry">
                        <h2>Equipment</h2>
                        <textarea class="textarea-large" rows="17" name="system.playerEquipment">{{system.playerEquipment}}</textarea>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>

